<div id="full-page-container">
  <form id="register-form">
    <app-ui-close-icon
      class="close-icon"
      (isCloseButtonActivated)="onClosePopup($event)"
    ></app-ui-close-icon>

    <h2 id="form-title">Création de compte</h2>
    <p>Les champs suivis d'un astérisque sont obligatoires.</p>

    <div class="input-container">
      <app-ui-person-icon class="icon"></app-ui-person-icon>
      <input
        class="input"
        type="text"
        id="input-pseudo"
        name="input-pseudo"
        placeholder="Nom d'utilisateur"
        [(ngModel)]="userRegister.pseudo"
        (ngModelChange)="onCheckInputCompleted()"
        required
      />
    </div>

    <div class="input-container">
      <app-ui-person-icon class="icon"></app-ui-person-icon>
      <input
        class="input"
        type="text"
        id="input-firstname"
        name="input-firstname"
        placeholder="Nom de famille"
        [(ngModel)]="userRegister.firstname"
      />
    </div>

    <div class="input-container">
      <app-ui-person-icon class="icon"></app-ui-person-icon>
      <input
        class="input"
        type="text"
        id="input-lastname"
        name="input-lastname"
        placeholder="Prénom"
        [(ngModel)]="userRegister.lastname"
      />
    </div>

    <div class="input-container">
      <app-ui-email-icon class="icon"></app-ui-email-icon>
      <input
        class="input"
        type="email"
        id="input-email"
        name="input-email"
        placeholder="Email"
        [(ngModel)]="userRegister.email"
        (ngModelChange)="onCheckInputCompleted()"
        required
      />
    </div>

    <div class="input-container">
      <app-ui-password-icon class="icon"></app-ui-password-icon>
      <input
        class="input"
        type="password"
        id="input-password"
        name="input-password"
        placeholder="Mot de passe"
        [(ngModel)]="userRegister.password"
        (ngModelChange)="onCheckInputCompleted()"
        required
      />
    </div>

    <div class="input-container">
      <app-ui-password-icon class="icon"></app-ui-password-icon>
      <input
        class="input"
        type="password"
        id="input-confirm-password"
        name="input-confirm-password"
        placeholder="Confirmer votre mot de passe"
        [(ngModel)]="confirmPassword"
        (ngModelChange)="onCheckInputCompleted()"
        required
      />
    </div>
    <div
      *ngIf="isSubmitButtonEnabled && confirmPassword !== userRegister.password"
      class="error"
    >
      Les mots de passe ne correspondent pas.
    </div>

    <app-ui-button
      id="submit-button"
      buttonName="Créer compte"
      type="submit"
      (isButtonClicked)="onSubmit($event)"
      [isButtonEnabled]="isSubmitButtonEnabled"
    ></app-ui-button>
  </form>
</div>

<app-feat-track-http-status-popup
  *ngIf="isTrackHttpStatusPopupOpen"
  class="track-http-status"
></app-feat-track-http-status-popup>
