<div>
    <nav
       class="thematic-dropdownMenu" 
       id="galerie-menu"
       >
         <ul>
           <li 
           *ngFor="let menuItem of thematicMenuItemList; let i = index"
           [ngClass]="{'selected': selectedIndex === i}"
           >
             <a 
             [ngClass]="{'selected': selectedIndex === i}" 
             (click)="onThematicMenuItemClick(menuItem, i)"
             (mouseenter)="onShowOurSolarSystemDropdownMenu(menuItem)"
             >
               {{ menuItem.label }}
             </a>
           </li>
           <app-ui-our-solar-system-dropdown-menu
           *ngIf="isOurSolarSystemDropdownMenuOpen"
           id="solarSystem-dropdownMenu"
           ></app-ui-our-solar-system-dropdown-menu>
         </ul>
    </nav>   
</div>