<main id="full-page">
  <app-ui-close-icon
    id="close-icon"
    (isCloseButtonActivated)="onCloseComponent($event)"
  ></app-ui-close-icon>
  <div id="steps-container">
    <ng-container *ngIf="currentStep === 1">
      <app-feat-edit-news-card-form-step1
        [currentStep]="currentStep"
        [isCreateMod]="isCreateMod"
        [isUpdateMod]="isUpdateMod"
        [newsCard]="newsCard"
        (onGoToStep2)="onRecevedMethodForGoToStep2(2)"
        (onCloseAllStepsFormEmit)="onRecevedMethodForCloseAllSteps($event)"
      ></app-feat-edit-news-card-form-step1>
    </ng-container>

    <ng-container *ngIf="currentStep === 2">
      <app-feat-edit-news-card-form-step2
        [currentStep]="currentStep"
        [isCreateMod]="isCreateMod"
        [isUpdateMod]="isUpdateMod"
        [newsCard]="newsCard"
        [userMail]="userMail"
        [isAdminMod]="isAdminMod"
        (onGoToStep1)="onRecevedMethodForGoToStep1(1)"
        (onCloseAllStepsFormEmit)="onRecevedMethodForCloseAllSteps($event)"
      ></app-feat-edit-news-card-form-step2>
    </ng-container>
  </div>
</main>

<app-feat-feedback-messages-popup
  *ngIf="
    isNewsCardCreatedSuccess ||
    isNewsCardCreatedError ||
    isNewsCardUpdatedSuccess ||
    isNewsCardUpdatedError
  "
  [isNewsCardCreatedSuccess]="isNewsCardCreatedSuccess"
  [isNewsCardUpdatedSuccess]="isNewsCardUpdatedSuccess"
  [isNewsCardCreatedError]="isNewsCardCreatedError"
  [isNewsCardUpdatedError]="isNewsCardUpdatedError"
></app-feat-feedback-messages-popup>
