<div id="main-container">
  <h1>Créer une carte d'actualité</h1>

  <form (ngSubmit)="onSubmit()">
    <div class="container-ngx-dropzone">
      <label for="image">Image à téléverser</label>
      <ngx-dropzone
        class="ngx-dropzone"
        [accept]="'image/*'"
        (change)="onHandlePhotoUpload($event)"
      >
        <ngx-dropzone-label class="ngx-dropzone-label">
          <div title="Cliquer ici">
            <div
              title="Téléverser la photo désirée en cliquant ici."
              id="dropzone-title"
            >
              <p>Téléverser la photo désirée en cliquant ici.</p>
            </div>
          </div>
        </ngx-dropzone-label>

        <ngx-dropzone-image-preview
          class="img-preview"
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let photo of photosList"
          [file]="photo"
          [removable]="true"
          (removed)="onRemovePhotoOfPhotoList(photo)"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </div>

    <div id="inputs-zone">
      <div class="label-input-container">
        <label for="title">Titre de la carte d'actualité</label>
        <input
          type="text"
          name="title"
          id="title"
          maxlength="150"
          minlength="5"
          placeholder="Description courte de l'actualité*"
          required
          [(ngModel)]="newsCard.title"
          #titleInput="ngModel"
        />
        <div *ngIf="titleInput.invalid && titleInput.touched" class="error">
          <div *ngIf="titleInput.errors?.['required']">
            La description est requise.
          </div>
          <div *ngIf="titleInput.errors?.['minlength']">
            La description doit comporter au moins 5 caractères.
          </div>
          <div *ngIf="titleInput.errors?.['maxlength']">
            La description ne peut pas dépasser 150 caractères.
          </div>
        </div>
      </div>

      <p id="recto">Au dos de la carte</p>

      <div class="label-input-container">
        <label for="main-article">Article principal (Obligatoire)</label>
        <textarea
          type="text"
          name="main-article"
          id="main-article"
          maxlength="1000"
          minlength="5"
          placeholder="Ecrire les détails de l'article ici"
          required
          [(ngModel)]="newsCard.mainArticle"
          #mainArticleInput="ngModel"
        ></textarea>
        <div
          *ngIf="mainArticleInput.invalid && mainArticleInput.touched"
          class="error"
        >
          <div *ngIf="mainArticleInput.errors?.['required']">
            Le détail de l'article est requis.
          </div>
          <div *ngIf="mainArticleInput.errors?.['minlength']">
            Le détail de l'article doit comporter au moins 5 caractères.
          </div>
          <div *ngIf="mainArticleInput.errors?.['maxlength']">
            Le détail de l'article ne peut pas dépasser 1000 caractères.
          </div>
        </div>
      </div>

      <div class="label-input-container">
        <label for="optionnal-article-one"
          >Article secondaire 1 (Optionnel)</label
        >
        <textarea
          type="text"
          name="optionnal-article-one"
          class="optionnal-article"
          maxlength="1000"
          minlength="5"
          placeholder="Ecrire les détails de l'article ici"
          [(ngModel)]="newsCard.optionalArticleOne"
          #optionalArticleOneInput="ngModel"
        ></textarea>
        <div
          *ngIf="
            optionalArticleOneInput.invalid && optionalArticleOneInput.touched
          "
          class="error"
        >
          <div *ngIf="optionalArticleOneInput.errors?.['minlength']">
            Le détail de l'article doit comporter au moins 5 caractères.
          </div>
          <div *ngIf="optionalArticleOneInput.errors?.['maxlength']">
            Le détail de l'article ne peut pas dépasser 1000 caractères.
          </div>
        </div>
      </div>

      <div class="label-input-container">
        <label for="optionnal-article-two"
          >Article secondaire 2 (Optionnel)</label
        >
        <textarea
          type="text"
          name="optionnal-article-two"
          class="optionnal-article"
          maxlength="1000"
          minlength="5"
          placeholder="Ecrire les détails de l'article ici"
          [(ngModel)]="newsCard.optionalArticleTwo"
          #optionalArticleTwoInput="ngModel"
        ></textarea>
        <div
          *ngIf="
            optionalArticleTwoInput.invalid && optionalArticleTwoInput.touched
          "
          class="error"
        >
          <div *ngIf="optionalArticleTwoInput.errors?.['minlength']">
            Le détail de l'article doit comporter au moins 5 caractères.
          </div>
          <div *ngIf="optionalArticleTwoInput.errors?.['maxlength']">
            Le détail de l'article ne peut pas dépasser 1000 caractères.
          </div>
        </div>
      </div>

      <div class="label-input-container">
        <label for="optionnal-article-three"
          >Article secondaire 3 (Optionnel)</label
        >
        <textarea
          type="text"
          name="optionnal-article-three"
          class="optionnal-article"
          maxlength="1000"
          minlength="5"
          placeholder="Ecrire les détails de l'article ici"
          [(ngModel)]="newsCard.optionalArticleThree"
          #optionalArticleThreeInput="ngModel"
        ></textarea>
        <div
          *ngIf="
            optionalArticleThreeInput.invalid &&
            optionalArticleThreeInput.touched
          "
          class="error"
        >
          <div *ngIf="optionalArticleThreeInput.errors?.['minlength']">
            Le détail de l'article doit comporter au moins 5 caractères.
          </div>
          <div *ngIf="optionalArticleThreeInput.errors?.['maxlength']">
            Le détail de l'article ne peut pas dépasser 1000 caractères.
          </div>
        </div>
      </div>

      <div class="label-input-container">
        <label for="title">Temps de lecture (en minute(s).)</label>
        <input
          type="number"
          name="reading-time"
          id="reading-time"
          maxlength="2"
          minlength="1"
          required
          [(ngModel)]="newsCard.readingTime"
          #titleInput="ngModel"
        />
        <div *ngIf="titleInput.invalid && titleInput.touched" class="error">
          <div *ngIf="titleInput.errors?.['required']">
            Le temps de lecture est requis.
          </div>
          <div *ngIf="titleInput.errors?.['minlength']">
            Le temps doit comporter au moins 1 caractère.
          </div>
          <div *ngIf="titleInput.errors?.['maxlength']">
            La temps ne peut pas dépasser 2 caractères.
          </div>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!isPhotoInTheBox || !onInputTitleCompleted()"
      >
        Publier ce post
      </button>
    </div>
  </form>
</div>

<app-feat-loader-popup
  class="loader"
  *ngIf="isLoadingComposantActive"
></app-feat-loader-popup>

<app-feat-feedback-messages-popup
  *ngIf="isNewsCardCreatedSuccess || isNewsCardCreatedError"
  [isNewsCardCreatedSuccess]="isNewsCardCreatedSuccess"
  [isNewsCardCreatedError]="isNewsCardCreatedError"
></app-feat-feedback-messages-popup>
