
<div id="main-container">
    <h1>Créer une actualité</h1>
    
    <form (ngSubmit)="onSubmit()">
        <div class="container-ngx-dropzone">
            <label for="image">Image à téléverser</label>
                <ngx-dropzone 
                class="ngx-dropzone"
                [accept]="'image/*'" 
                (change)="onHandlePhotoUpload($event)"
                >
                <ngx-dropzone-label class="ngx-dropzone-label">
                    <div title="Cliquer ici">
                        <div 
                        title="Téléverser la photo désirée en cliquant ici."
                        id="dropzone-title"
                        >
                        <p>Téléverser la photo désirée en cliquant ici.</p>
                    </div>    
                </div>    
            </ngx-dropzone-label>    
            
            <ngx-dropzone-image-preview 
            class="img-preview"
            ngProjectAs="ngx-dropzone-preview" 
            *ngFor="let photo of photosList" 
            [file]="photo" 
            [removable]="true" 
            (removed)="onRemovePhotoOfPhotoList(photo)"
            >
        </ngx-dropzone-image-preview>
    </ngx-dropzone>    
        </div>        
        
        <label for="title">Description</label>
        <input 
        type="text" 
        name="title" 
        id="title" 
        maxlength="150"
        minlength="5"
        placeholder="Description courte de l'actualité*"
        required
        [(ngModel)]="newsCard.title"
        #titleInput="ngModel"
        >
        <div *ngIf="titleInput.invalid && (titleInput.touched)" class="error">
            <div *ngIf="titleInput.errors?.['required']">La description est requise.</div>
            <div *ngIf="titleInput.errors?.['minlength']">La description doit comporter au moins 5 caractères.</div>
            <div *ngIf="titleInput.errors?.['maxlength']">La description ne peut pas dépasser 150 caractères.</div>
        </div>    
        
        <button type="submit" [disabled]="!isPhotoInTheBox || !onInputTitleCompleted()">Publier ce post</button>    
    </form>    
    
</div>    

<app-feat-loader
class="loader" 
*ngIf="isLoadingComposantActive"
></app-feat-loader>

