<section *ngIf="isAdminMod" id="admin-section">
  <app-ui-update-icon
    (click)="onUpdateNewsCard()"
    class="icon"
    title="Mettre à jour cette actualité ?"
  ></app-ui-update-icon>
  <app-ui-delete-icon
    (click)="onDeleteNewsCard()"
    class="icon"
    title="Supprimer cette actualité ?"
  ></app-ui-delete-icon>
</section>

<main id="newsCard-container" title="Voir l'article en détails?">
  <div id="picture-container" (click)="onOpenCardDetails()">
    <figure id="image-container" *ngIf="newsCard.picturesList.length > 0">
      <img id="picture" [src]="newsCardPictureSrc" alt="image" />
    </figure>
  </div>

  <h2 id="title">{{ newsCard.title }}</h2>

  <section id="interactions-container">
    <div id="thumbUp-container">
      <app-ui-like-icon
        class="icon"
        [isNewsCardLiked]="isNewsCardLiked"
        (click)="onLikeThisCardToggle()"
        title="J'aime cette actualité"
      ></app-ui-like-icon>
      <p id="counter-like">{{ newsCard.likeCount }}</p>
    </div>

    <div id="thumbDown-container">
      <app-ui-dislike-icon
        class="icon"
        [isNewsCardDisliked]="isNewsCardDisliked"
        (click)="onDislikeThisCardToggle()"
        title="Je n'aime pas cette actualité"
      ></app-ui-dislike-icon>
      <p id="counter-dislike">{{ newsCard.dislikeCount }}</p>
    </div>

    <div id="timestamp-container">
      <p class="timestamp">
        Publié le {{ newsCard.timestamp | date : "dd/MM/yyyy" }}
      </p>
    </div>
  </section>
</main>

<app-feat-feedback-messages-popup
  *ngIf="isUserNotConnectedError"
  [isUserNotConnectedError]="isUserNotConnectedError"
></app-feat-feedback-messages-popup>

<app-feat-edit-news-card-form
  *ngIf="isEditNewsCardFormOpen"
  [newsCard]="newsCard"
  [isAdminMod]="isAdminMod"
  [isUpdateMod]="isUpdateMod"
  (isEditNewsCardFormOpen)="onCloseEditNewsCardForm($event)"
></app-feat-edit-news-card-form>
