#main-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 25px;
    // border: 1px solid green;
}

#image-container {
    width: 100%;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    overflow: hidden;
}

#picture {
    width: 100%;
    aspect-ratio: 16 / 9;
}

p {
    width: 95%;
    // margin: 5px 0;
    color: rgb(209, 209, 209);
    font-size: 19px;
}