<div id="main-container">
    <div id="title-container">
        <h1>Ajouter un point de vu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi non perspiciatis, neque voluptatum iure unde, vel placeat rem corporis esse sint quidem accusantium minima optio eveniet soluta dolores deleniti. Voluptates!</p>
    </div>
    <form (ngSubmit)="onSubmit()">
        <label for="name">Nom du lieu *</label>
        <input type="text" id="name" name="name" [(ngModel)]="markerData.name" required>

        <label for="longitude">Longitude *</label>
        <input type="number" id="longitude" name="longitude" [(ngModel)]="markerData.longitude" required>

        <label for="latitude">Latitude *</label>
        <input type="number" id="latitude" name="latitude" [(ngModel)]="markerData.latitude" required>
        
        <button mat-button type="submit">Créer le MarkerData</button>
    </form>
</div>