#location-mainContainer {
  position: relative;
  width: 70vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  background: #fff;
  z-index: 1;
  gap: 20px;
}

#close-icon {
  margin-left: auto;
}

#title {
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  background: #04091e;
  font-style: italic;
  border-radius: 10px;
  text-align: justify;
}

#subtitle {
  width: 70%;
}

form {
  position: relative;
  width: 50vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  background: #fff;
  z-index: 1;
  gap: 20px;
}

.input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ced4da;
  color: #495057;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #cc00ff;
  box-shadow: 0 0 5px #cc00ff73;
  outline: none;
}

.input:hover {
  border-color: #cc00ff;
  cursor: pointer;
}

#submit-button {
  margin: auto;
}

.error {
  width: 100%;
  color: red;
  box-sizing: border-box;
  margin-top: -20px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1;
}
