<div id="full-page">
  <form id="reply-form">
    <app-ui-close-icon
      id="close-icon"
      (click)="onCloseReplyForm()"
    ></app-ui-close-icon>
    <h2 id="replyForm-title">Répondre au message</h2>
    <textarea
      class="input"
      [(ngModel)]="newReply.content"
      name="replyContent"
      placeholder="Écrire votre réponse ici"
      maxlength="5000"
      minlength="1"
      (ngModelChange)="onCheckInputCompleted()"
      #replyInput="ngModel"
      required
    ></textarea>
    <app-ui-button
      id="submit-button"
      type="submit"
      buttonName="Envoyer message"
      (click)="onSubmit()"
      [isButtonEnabled]="isSubmitButtonEnabled"
    ></app-ui-button>
  </form>
</div>
<app-feat-loader-popup
  class="loader"
  *ngIf="isLoadingComposantActive"
></app-feat-loader-popup>

<app-feat-feedback-messages-popup
  *ngIf="isReplyCreatedSuccess || isReplyCreatedError"
  [isReplyCreatedSuccess]="isReplyCreatedSuccess"
  [isReplyCreatedError]="isReplyCreatedError"
></app-feat-feedback-messages-popup>
