h1 {
    width: 100%;
    text-align: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    min-width: 100%;
    width: 100%;
    min-height: 300px;
    height: 300px;
}

button {
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button:hover {
    cursor: pointer;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1;
 }