#headerTop {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
}

#main-content {
  width: 100vw;
  height: 100vh;
  background: #ecf0f1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#form-title {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #04091e;
  font-style: italic;
  margin: 0;
}

#contact-form {
  position: relative;
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background: #fff;
  z-index: 1;
}

.section {
  flex: 1 1 30%;
  width: 30%;
  min-width: 300px;
  min-height: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container-icons {
  width: 100%;
  min-width: 220px;
  height: auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.icon {
  margin-top: 10px;
}

.contact-details {
  width: 80%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h5 {
  color: #222222;
  font-size: 16px;
  margin: 0;
  padding-bottom: 5px;
}
p {
  color: #777777;
  font-size: 14px;
  margin: 0;
}

.input,
#text-area {
  min-width: 300px;
  width: 90%;
  height: 40px;
  padding: 12px;
  border: 1px solid #ced4da;
  color: #495057;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
}

#text-area {
  width: 90%;
  height: 97%;
  margin: auto;
}

.input,
#text-area {
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus,
#text-area:focus {
  border-color: #cc00ff;
  box-shadow: 0 0 5px #cc00ff73;
  outline: none;
}

.input:hover,
#text-area:hover {
  border-color: #cc00ff;
  cursor: pointer;
}

#container-submit {
  margin: auto;
  width: 90%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.error {
  width: 100%;
  color: red;
  padding: 5px;
  box-sizing: border-box;
  margin-top: -10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1;
}
