<main id="main-content">
  <div class="container-svg-arrows">
    <app-ui-left-arrow-icon
      id="arrow-left"
      class="arrow"
      [ngClass]="{ leftArrowVisible: isLeftArrowVisible }"
      (click)="prevCard()"
      (mouseenter)="showLeftArrow()"
      (mouseleave)="hiddeLeftArrow()"
    ></app-ui-left-arrow-icon>

    <ng-container
      *ngIf="isPictureOfWeekPageOpen && pictureOfWeekCardList.length > 0"
    >
      <app-feat-picture-of-week-card
        [pictureOfWeekCard]="pictureOfWeekCardList[currentIndex]"
      ></app-feat-picture-of-week-card>
    </ng-container>

    <ng-container
      *ngIf="
        isPictureSpecialEventPageOpen && pictureSpecialEventCardList.length > 0
      "
    >
      <app-feat-picture-special-event-card
        [pictureSpecialEventCard]="pictureSpecialEventCardList[currentIndex]"
      ></app-feat-picture-special-event-card>
    </ng-container>

    <ng-container
      *ngIf="isPictureAuthorPageOpen && pictureAuthorCardList.length > 0"
    >
      <app-feat-picture-author-card
        [pictureAuthorCard]="pictureAuthorCardList[currentIndex]"
      ></app-feat-picture-author-card>
    </ng-container>

    <app-ui-right-arrow-icon
      id="arrow-right"
      class="arrow"
      [ngClass]="{ rightArrowVisible: isRightArrowVisible }"
      (click)="nextCard()"
      (mouseenter)="showRightArrow()"
      (mouseleave)="hiddeRightArrow()"
    ></app-ui-right-arrow-icon>
  </div>
</main>
