<div class="container-svg-arrows">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="80"
      viewBox="0 0 24 24"
      fill="none"
      stroke="whitesmoke"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      id="arrow-left"
      class="arrow"
      [ngClass]="{'leftArrowVisible': isLeftArrowVisible}"
      (click)="prevImage()"
      (mouseenter)="showLeftArrow()"
      (mouseleave)="hiddeLeftArrow()"
    >
      <polyline points="15 18 9 12 15 6"></polyline>
    </svg>


    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="50"
      height="80"
      viewBox="0 0 24 24"
      fill="none"
      stroke="whitesmoke"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      id="arrow-right"
      class="arrow"
      [ngClass]="{'rightArrowVisible': isRightArrowVisible}"
      (click)="nextImage()"
      (mouseenter)="showRightArrow()"
      (mouseleave)="hiddeRightArrow()"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
</div>