#headerTop-burgerMenu {
  width: 100px;
  height: 32px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
}

#headerTop-burgerMenu:hover #menu-font {
  transition: transform 0.3s ease;
  color: rgb(255, 23, 23);
}

#headerTop-burgerMenu:hover #burger-icon path {
  fill: rgb(255, 23, 23);
}

#menu-font {
  color: #9b9b9b;
  font-size: 17px;
}
