<form id="commentForm">
  <h3 id="commentForm-title">Vous souhaitez réagir à cette actualité ?</h3>

  <textarea
    type="text"
    name="content"
    id="commentForm-contentInput"
    maxlength="1000"
    minlength="1"
    placeholder="Ecrivez votre commentaire ici*"
    required
    (ngModelChange)="onCheckInputCompleted()"
    [(ngModel)]="commentCard.content"
    #contentInput="ngModel"
  >
  </textarea>

  <app-ui-button
    id="commentForm-submitButton"
    buttonName="Envoyer"
    type="submit"
    (click)="onSubmit()"
    [isButtonEnabled]="isSubmitButtonEnabled"
  ></app-ui-button>
</form>

<div id="loading-container" *ngIf="isLoadingComposantActive">
  <app-feat-loader-popup class="loader" *ngIf="isLoadingComposantActive">
  </app-feat-loader-popup>
</div>

<app-feat-feedback-messages-popup
  *ngIf="isCommentCreatedSuccess || isCommentCreatedError"
  [isCommentCreatedSuccess]="isCommentCreatedSuccess"
  [isCommentCreatedError]="isCommentCreatedError"
>
</app-feat-feedback-messages-popup>
