<div id="full-page">
  <main id="main-popup">
    <ng-container *ngIf="httpError$ | async as httpError">
      <div class="message-container" *ngIf="httpError.error">
        <app-ui-auth-fail-icon *ngIf="showErrorMessage"></app-ui-auth-fail-icon>
        <p *ngIf="showErrorMessage" id="errorMessage">
          {{ httpError.error.error_message }}
        </p>
      </div>
    </ng-container>

    <ng-container *ngIf="httpSuccess$ | async as httpSuccess">
      <div class="message-container" *ngIf="httpSuccess.body">
        <app-ui-auth-success-icon
          *ngIf="showSuccessMessage"
        ></app-ui-auth-success-icon>
        <p *ngIf="showSuccessMessage" id="succesMessage">
          {{ httpSuccess.body.message }}
        </p>
      </div>
    </ng-container>
  </main>
</div>
