#main-content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: rgb(18, 18, 18);
    border-bottom: 1px solid grey;
}

#user-name {
    text-align: start;
    color: rgb(0, 118, 215);
}

#comment-metadata {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timestamp-content {
    font-size: 12px;
    color: grey;
}

#reply-button {
    color: grey;
    border: none;
    font-size: 15px;
}

#reply-button:hover {
    color: rgb(0, 118, 215);
    cursor: pointer;
}

#actions-container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}

#like-container, #dislike-container {
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

svg {
    min-width: 24px;
    min-height: 24px;
}

#counter-like, #counter-dislike {
    padding: 0;
    margin: 0;
    font-size: 12px;
}


svg:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateY(-5px);
    filter: drop-shadow(0 0 2px whitesmoke) drop-shadow(0 0 4px #ff70ee) drop-shadow(0 0 6px #ff00e0);    
}

svg:hover path {
    fill: whitesmoke;
}

svg:active path {
    fill: red;  
}

.isLikeButtonActived path {
    fill: red;
}

.isDislikeButtonActived path {
    fill: red;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1;
 }