<form id="form">
  <h1 id="form-title">
    {{ isUpdateMod ? "Modifier une actualité" : "Créer une actualité" }}
  </h1>

  <div id="sections-container">
    <section *ngIf="isUpdateMod" class="section" id="section-uploaded">
      <h3>Image(s) associée(s) à cette actualité</h3>
      <div
        id="container-uploaded-picture"
        *ngIf="newsCard.picturesList.length > 0"
      >
        <figure
          id="figure-picture"
          *ngFor="let picture of newsCard.picturesList; let i = index"
        >
          <img id="picture" [src]="picture.src" alt="Image" />
          <app-ui-close-icon
            class="close-icon"
            id="icon-delete-picture-uploaded"
            (isCloseButtonActivated)="
              onDeletePictureOfCardPicturesList($event, picture)
            "
          ></app-ui-close-icon>
        </figure>
      </div>
    </section>
    <section class="section" id="section-creation">
      <div class="container-ngx-dropzone">
        <h3>Image à téléverser</h3>
        <ngx-dropzone
          class="ngx-dropzone"
          [accept]="'image/*'"
          (change)="onHandlePhotoUpload($event)"
          (ngModelChange)="onCheckInputCompleted()"
        >
          <ngx-dropzone-label class="ngx-dropzone-label">
            <div title="Cliquer ici">
              <div
                title="Téléverser la photo désirée en cliquant ici."
                id="dropzone-title"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="50px"
                  height="50px"
                  viewBox="0 -960 960 960"
                  fill="#495057"
                >
                  <path
                    d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"
                  />
                </svg>
              </div>
            </div>
          </ngx-dropzone-label>

          <ngx-dropzone-image-preview
            class="img-preview"
            ngProjectAs="ngx-dropzone-preview"
            *ngFor="let photo of photosList"
            [file]="photo"
            [removable]="true"
            (removed)="onRemovePhotoOfPhotoList(photo)"
          >
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>
    </section>
  </div>

  <label for="newsCard-title">Titre de l'actualité</label>
  <input
    class="input"
    type="text"
    name="newsCard-title"
    maxlength="150"
    minlength="5"
    placeholder="*Titre de l'actualité (150 caractères max)"
    required
    (ngModelChange)="onCheckInputCompleted()"
    [(ngModel)]="newsCard.title"
    #titleInput="ngModel"
  />
  <ng-container *ngIf="titleInput.invalid && titleInput.touched" class="error">
    <div *ngIf="titleInput.errors?.['required']">
      La description est requise.
    </div>
    <div *ngIf="titleInput.errors?.['minlength']">
      La description doit comporter au moins 5 caractères.
    </div>
    <div *ngIf="titleInput.errors?.['maxlength']">
      La description ne peut pas dépasser 150 caractères.
    </div>
  </ng-container>
  <app-ui-button
    id="next-step-button"
    buttonName="Etape suivante"
    type="button"
    (click)="onNextStep()"
    [isButtonEnabled]="isSubmitButtonEnabled"
  ></app-ui-button>
</form>
