#specialEvent-fullCard {
    aspect-ratio: 16 / 9;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    z-index: 0;
}

#specialEvent-imageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

#specialEvent-image {
    // aspect-ratio: 16 / 9;
    width: 100%;
}

#specialEvent-fontContainer {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.927);
    color: rgb(217, 198, 162);
}

#specialEvent-fontContainer > p {
    width: 100%;
    margin: 0;
    padding: 0;
    // border: 1px solid red;
}

#title {
   width: 100%;
   text-align: center;
}

#resume {
    width: 100%;
    text-align: start;
}

#timestamp {
    width: 100%;
    text-align: end;
}
 
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 1;
 }