#specialEvent-fullCard {
  width: auto;
  aspect-ratio: 16 / 9;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: relative;
  z-index: 0;
}

#specialEvent-imageContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#specialEvent-image {
  width: 100%;
}

#specialEvent-metaData {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.927);
  color: whitesmoke;
}

#specialEvent-metaData > #title,
#specialEvent-metaData > #resume {
  font-size: 15px;
  margin: 2px;
  padding: 0;
}

#title {
  width: 100%;
  height: auto;
  text-align: center;
}

#resume {
  width: 100%;
  height: auto;
  text-align: start;
}

#timestamp {
  width: 100%;
  height: auto;
  text-align: end;
  font-size: 12px;
  color: grey;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1;
}
