<header>
    <app-ui-navbar></app-ui-navbar>
    
    <div id="main-container">
        <div id="title-container">
       
                <hgroup>
                    <h1>AstroNaut</h1>
                    <h2>C</h2>
                    <h5>ommunauté à ciel ouvert</h5>
                </hgroup>
                
            </div>
            <div class="visit-container">
                <app-feat-visits-counter
                ></app-feat-visits-counter>
            </div>
        <div id="social-medias-container">
            <app-ui-social-medias></app-ui-social-medias>
        </div>
    </div>
</header>

