<header id="headerTop">    
    <div id="headerTop-mainContainer">
        
        <div id="left-container">
            <div 
            (click)="onOpenLeftMenu()" 
            id="headerTop-burgerMenu"
            >
            <svg 
            xmlns="http://www.w3.org/2000/svg" 
                height="24" 
                viewBox="0 -960 960 960" 
                width="24"
                >
                <path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/>
            </svg>
                <span>MENU</span>
            </div>
        </div>
        
        <div id="middle-container">
            <app-ui-title-subtitle
            ></app-ui-title-subtitle>
        </div>
        
        <div id="right-container">
            <div id="visit-container">
                <app-feat-visits-counter
                ></app-feat-visits-counter>
            </div>
            
            <div id="social-medias-container">
                <app-ui-social-medias
                ></app-ui-social-medias>
            </div>
        </div>
        
    </div>

    <app-ui-navbar
    *ngIf="isLeftMenuOpen"
    [isLeftMenuAnimationWhenOpen]="isLeftMenuAnimationWhenOpen"
    [isLeftMenuItemsClickEnable]="isLeftMenuItemsClickEnable"
    (isLeftMenuOpen)="forCloseLeftMenu($event)"
    ></app-ui-navbar>
    
</header>


