<app-ui-header id="headerTop-contributePage"></app-ui-header>

<main id="main-container">
  <h1 id="page-title">Contributions</h1>
  <p id="subtitle" aria-describedby="subtitle-description">
    Les contributions permettent à la communauté de partager et d'enrichir notre
    base de connaissances avec des images et des points d'observation.
  </p>
  <section id="section-choose">
    <div id="add-image-or-location-container">
      <p>Que souhaitez-vous ajouter à la communauté ?</p>
      <div id="buttons-container">
        <app-ui-button
          buttonName="Ajouter une image"
          (isButtonClicked)="onOpenAddImageForm($event)"
          [isButtonEnabled]="isButtonEnabled"
        ></app-ui-button>
        <app-ui-button
          buttonName="Ajouter un point d'observation"
          (isButtonClicked)="onOpenAddLocationForm($event)"
          [isButtonEnabled]="isButtonEnabled"
        ></app-ui-button>
      </div>
    </div>
  </section>

  <div *ngIf="isAddImageFormOpen" id="add-image-form-container">
    <app-feat-add-image-form
      id="add-image-form"
      (isAddImageFormOpen)="onCloseAddImageFormAfterOperationCompleted($event)"
      (isAddImageFormOpen)="onCloseAddImageForm($event)"
    ></app-feat-add-image-form>
  </div>

  <div *ngIf="isAddLocationFormOpen" id="add-location-form-container">
    <app-feat-add-locations-form
      id="add-location-form"
      (isAddLocationFormOpen)="
        onCloseAddLocationFormAfterOperationCompleted($event)
      "
    ></app-feat-add-locations-form>
  </div>
</main>
