<section id="full-page-container">
  <div id="child-container">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="24"
      viewBox="0 -960 960 960"
      width="24"
      (click)="onClosePopup()"
    >
      <path
        d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
      />
    </svg>
    <p id="not-connected">
      Vous devez être connecté pour réaliser cette action
    </p>
    <button (click)="onOpenLoginForm()">Je me connecte</button>
    <p>Pas encore inscrit?</p>
    <button (click)="onOpenRegisterForm()">Je m'inscris</button>
  </div>
</section>

<app-feat-login-form-popup
  *ngIf="isLoginFormOpen"
  (isLoginFormOpen)="onCloseLoginForm($event)"
></app-feat-login-form-popup>

<app-feat-register-form-popup
  *ngIf="isRegisterFormOpen"
  (isRegisterFormOpen)="onCloseRegisterForm($event)"
></app-feat-register-form-popup>
