<div id="full-page">
  <main id="main-popup">
    <app-ui-close-icon
      class="close-icon"
      (isCloseButtonActivated)="onClosePopup($event)"
    ></app-ui-close-icon>

    <h4 id="not-connected">
      Vous devez être connecté pour réaliser cette action
    </h4>

    <app-ui-button
      class="button"
      id="login-button"
      buttonName="Connexion"
      type="button"
      (isButtonClicked)="onOpenLoginForm($event)"
      [isButtonEnabled]="true"
    ></app-ui-button>

    <p id="not-registered">Pas encore inscrit?</p>

    <app-ui-button
      class="button"
      id="register-button"
      buttonName="Inscription"
      type="button"
      (isButtonClicked)="onOpenRegisterForm($event)"
      [isButtonEnabled]="true"
    ></app-ui-button>
  </main>
</div>

<app-feat-login-form-popup
  *ngIf="isLoginFormOpen"
  (isLoginFormOpen)="onCloseLoginForm($event)"
></app-feat-login-form-popup>

<app-feat-register-form-popup
  *ngIf="isRegisterFormOpen"
  (isRegisterFormOpen)="onCloseRegisterForm($event)"
></app-feat-register-form-popup>
