#full-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#child-container {
  width: 600px;
  height: auto;
  border-radius: 5px;
  background-color: grey;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

svg {
  align-self: flex-end;
  margin-left: auto;
  margin-top: -15px;
}

#not-connected {
  font-size: x-large;
}

p {
  text-align: center;
}

button {
  width: 200px;
  height: 40px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
}

button:hover {
  background-color: #0056b3;
  cursor: pointer;
}
