<div id="main-container">
    <h1>Ajouter une image</h1>

    <form>
        <div id="image-details-container">
           <div id="image-container"></div>
           <textarea 
           id="resume-image"
           placeholder="Ajouter une description de l'image"
           ></textarea>
        </div>
        <div id="terms-checkbox">
            <p>J'ai bien lu et accepté les conditions d'utilisations</p>
            <input type="checkbox" name="input-checkbox" id="input-checkbox">
        </div>
        <button type="submit">Je valide</button>
    </form>
</div>
