#full-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-content {
  width: 600px;
  height: 300px;
  border-radius: 5px;
  background-color: grey;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

svg {
  margin-left: auto;
}

p {
  text-align: center;
}

button,
form {
  padding: 5px;
}

button:hover,
svg:hover {
  cursor: pointer;
}
