<div id="full-page">
  <form id="login-form">
    <app-ui-close-icon
      class="close-icon"
      (isCloseButtonActivated)="onClosePopup($event)"
    ></app-ui-close-icon>

    <h2 id="form-title">Je me connecte</h2>

    <div class="input-container">
      <app-ui-email-icon class="icon"></app-ui-email-icon>
      <input
        class="input"
        type="email"
        id="input-email"
        placeholder="* Email"
        name="input-email"
        [(ngModel)]="userAuth.email"
        required
      />
    </div>

    <div class="input-container">
      <app-ui-password-icon class="icon"></app-ui-password-icon>
      <input
        class="input"
        type="password"
        id="input-password"
        placeholder="* Mot de passe"
        name="input-password"
        [(ngModel)]="userAuth.password"
        required
      />
    </div>
    <app-ui-button
      id="submit-button"
      buttonName="Connexion"
      type="submit"
      (isButtonClicked)="onSubmitAuth($event)"
      [isButtonEnabled]="isSubmitButtonEnabled"
    ></app-ui-button>
  </form>
</div>

<app-feat-track-http-status-popup
  *ngIf="isTrackHttpStatusPopupOpen"
  class="track-http-status"
></app-feat-track-http-status-popup>
