#full-page {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}

#login-form {
  position: relative;
  width: 40vw;
  min-height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  padding: 25px;
  background: #fff;
  z-index: 1;
  gap: 20px;
}

.close-icon {
  margin-left: auto;
  cursor: pointer;
}

#form-title {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: #fff;
  background: #04091e;
  font-style: italic;
}

.label {
  margin-bottom: 5px;
}

div {
  width: 80%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.icon {
  position: relative;
  top: 0;
  left: 50px;
}

.input {
  width: 100%;
  padding: 12px;
  padding-left: 55px;
  border: 1px solid #ced4da;
  color: #495057;
  box-sizing: border-box;
  font-size: 1rem;
  margin-bottom: 10px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.input:focus {
  border-color: #cc00ff;
  box-shadow: 0 0 5px #cc00ff73;
  outline: none;
}

.input:hover {
  border-color: #cc00ff;
  cursor: pointer;
}

#submit-button {
  margin: auto;
}
