nav {
    width: 100%;
    min-width: 850px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: whitesmoke;
    border-radius: 25px;
}

ul {
    list-style: none;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 0 20px;
}

#ul-left {
    gap: 15px;
    min-width: 620px;
    justify-content: flex-start;
}

#ul-right {
    gap: 15px;
    min-width: 140px;
    justify-content: center;
}

#ul-right > li {
    color: black;
}

li {
    background-color: whitesmoke;
    color: rgba(128, 128, 128, 0.796);
    font-weight: bolder;
    font-size: 18px;
}

li:hover {
    color: red;
    text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 30px whitesmoke, 0 0 40px #ff00e0, 0 0 70px #ff00e0, 0 0 80px #ff00e0, 0 0 100px #ff00e0, 0 0 150px #ff00e0;
    cursor: pointer;
    transition: all 0.5s;
}
