<div id="full-page">
  <nav [ngClass]="{ leftMenuVisible: isLeftMenuAnimationWhenOpen }">
    <div id="leftMenu-closeContainer">
      <app-ui-close-icon
        (isCloseButtonActivated)="onCloseComponent($event)"
      ></app-ui-close-icon>
    </div>
    <app-ui-title></app-ui-title>

    <ul [ngClass]="{ leftMenuItemsClickEnable: isLeftMenuItemsClickEnable }">
      <li *ngFor="let menuItem of leftMenuItemList">
        <a (click)="onLeftMenuItemClick(menuItem)">{{ menuItem.label }}</a>
      </li>
    </ul>
  </nav>
</div>
