#full-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #14151582;
}

nav {
    position: absolute;
    top: 0;
    left: -500px;
    width: 350px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    background-color: #141515;
    padding: 15px;
}

.leftMenuVisible {
    animation: leftNavAnimation 0.8s forwards;
}

#navbar-buttonClose {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

svg:hover path {
    fill: whitesmoke;

}

svg:hover {
    cursor: pointer;
    transition: all 1s;
    filter: drop-shadow(0 0 10px whitesmoke) drop-shadow(0 0 20px whitesmoke) drop-shadow(0 0 30px whitesmoke) drop-shadow(0 0 40px #ff00e0) drop-shadow(0 0 70px #ff00e0) drop-shadow(0 0 80px #ff00e0) drop-shadow(0 0 100px #ff00e0) drop-shadow(0 0 150px #ff00e0);    
}

ul {
    min-width: 95%;
    height: 100vh;
    min-height: 100vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

ul > li {
    width: 85%;
    color: rgba(74, 74, 74, 0.796);
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.796);
    padding: 15px 0;
    pointer-events: none;
}

.leftMenuItemsClickEnable > li {
    pointer-events: auto;
}

ul > li:hover {
    color: rgba(54, 54, 54, 0.796);
    text-shadow: 0 0 10px whitesmoke, 0 0 20px whitesmoke, 0 0 40px whitesmoke, 0 0 50px #ff00e0, 0 0 60px #ff00e0, 0 0 70px #ff00e0, 0 0 80px #ff00e0, 0 0 90px #ff00e0;
    cursor: pointer;
    transition: transform 0.5s ease;
    transform: translateX(15px);
}

#galerie-dropdown-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 270px;
    background-color: rgba(12, 12, 12, 0.841);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#galerie-dropdown-menu > ul {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    gap: 10px;
}

#galerie-dropdown-menu > ul > li {
    font-size: 17px;
    background-color: transparent;
    color: rgb(211, 209, 209);
}

@keyframes leftNavAnimation {
    100% {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    0% {
        position: absolute;
        top: 0;
        left: -500px; 
        opacity: 0;
    }
}
