<div id="main-container">
    <div id="title-search-container">
        <div class="child-container" id="child-title-container">
           <h1 id="title">Quoi de neuf?</h1>
        </div>
        <div class="child-container" id="child-search-container">
            <app-ui-search-bar-home></app-ui-search-bar-home>
       </div>
    </div>
    <div>
       <app-feat-news-card-list></app-feat-news-card-list>
    </div>
</div>

<!-- <app-feat-login-or-register-form-popup
*ngIf="isLoginOrRegisterPopupOpen"
></app-feat-login-or-register-form-popup> -->
