<header>
  <app-ui-header id="headerTop-homePage"></app-ui-header>
</header>

<main id="main-container">
  <section id="search-section">
    <div id="title-search-container">
      <h1 id="title">Actualités Astro</h1>
      <app-ui-search-bar-home
        (isSearchResultNotFoundChange)="onSearchResultChange($event)"
      ></app-ui-search-bar-home>
    </div>

    <app-feat-search-result-not-found
      *ngIf="isSearchResultNotFound"
    ></app-feat-search-result-not-found>
  </section>

  <section id="newsCard-list">
    <app-feat-news-card-list></app-feat-news-card-list>
  </section>
</main>

<app-feat-login-or-register-popup
  *ngIf="isLoginOrRegisterPopupOpen"
></app-feat-login-or-register-popup>
