#headerTop-homePage {
  position: relative;
  z-index: 1;
}

#main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  color: whitesmoke;
  background: #04091e;
}

#title-search-container {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  color: whitesmoke;
}

h1 {
  font-style: italic;
}
