<div id="pictureWeek-fullCard">
    <ng-container 
    id="pictureWeek-imageContainer"
    *ngIf="pictureOfWeekCard.imageListForPictureOfWeek.length > 0"
    >
        <img 
        id="pictureWeek-image" 
        [src]="pictureOfWeekCard.imageListForPictureOfWeek[0].src" 
        alt="image"
        >
        
        <div id="pictureWeek-fontContainer">    
            <p id="title">{{ pictureOfWeekCard.title }}</p>
            <p id="resume">{{ pictureOfWeekCard.resume }}</p>
            <p id="timestamp">Mise en ligne il y a {{ elapsedTime }} à {{ pictureOfWeekCard.timestamp | date: 'HH:mm' }} 
                <!-- par  -->
                <!-- {{ user.pseudo }} -->
            </p>
        </div>   
    </ng-container> 
</div>
    