html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
    overflow-x: none;
}

.router-outlet {
    z-index: 0;
}

.app-ui-footer {
    margin-top: auto; 
}