html, body {
    height: 100%;
    margin: 0;
}

.app-container {
    width: 80vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: auto;
}

.header {
    border-bottom: 1px solid grey;
}

.app-ui-footer {
    margin-top: auto; 
}