<div id="full-page">
  <header id="header">
    <section id="section-headerLeft">
      <app-ui-admin-landing-navbar
        id="headerLeft-adminNavbar"
        (isEditNewsCardFormOpen)="onOpenEditNewsCardForm($event)"
        (isNewsCardListOpen)="onOpenNewsCardList($event)"
        (isContactListOpen)="onOpenContactList($event)"
      ></app-ui-admin-landing-navbar>
    </section>
  </header>

  <main id="main-content">
    <section class="section" id="section-newsCard" *ngIf="isNewsCardListOpen">
      <app-feat-news-card-list
        [isAdminMod]="isAdminMod"
      ></app-feat-news-card-list>
    </section>

    <section id="section-contact" *ngIf="isContactListOpen">
      <app-feat-contact-list
        [isAdminMod]="isAdminMod"
        [admin]="admin"
      ></app-feat-contact-list>
    </section>

    <section id="section-analytic" *ngIf="false">
      <app-feat-visits-counter></app-feat-visits-counter>
    </section>
  </main>
</div>

<ng-container id="adminLanding-editContainer" *ngIf="isEditNewsCardFormOpen">
  <app-feat-edit-news-card-form
    id="adminLanding-editNewsCardForm"
    [isAdminMod]="isAdminMod"
    [admin]="admin"
    [newsCard]="newsCard"
    [isCreateMod]="isCreateMod"
    (isEditNewsCardFormOpen)="onCloseEditNewsCardForm($event)"
  ></app-feat-edit-news-card-form>
</ng-container>
