<div id="full-page">
  <header id="headerLeft">
    <app-ui-admin-landing-navbar
      id="headerLeft-adminNavbar"
      (isEditNewsCardFormOpen)="onOpenEditNewsCardForm($event)"
      (isNewsCardListOpen)="onOpenNewsCardList($event)"
      (isContactListOpen)="onOpenContactList($event)"
    ></app-ui-admin-landing-navbar>
  </header>

  <main id="main-content">
    <section class="section" id="section-newsCard" *ngIf="isNewsCardListOpen">
      <app-feat-news-card-list
        [isAdminMod]="isAdminMod"
      ></app-feat-news-card-list>
    </section>

    <section class="section" id="section-contact" *ngIf="isContactListOpen">
      <app-feat-contact-list [isAdminMod]="isAdminMod"></app-feat-contact-list>

      <section class="section" id="section-reply" *ngIf="isContactListOpen">
        <app-feat-reply-list
          [admin]="admin"
          [isAdminMod]="isAdminMod"
        ></app-feat-reply-list>
      </section>
    </section>

    <section class="section" id="section-analytic" *ngIf="false">
      <app-feat-visits-counter></app-feat-visits-counter>
    </section>
  </main>
</div>

<div id="adminLanding-editContainer" *ngIf="isEditNewsCardFormOpen">
  <app-feat-edit-news-card-form
    id="adminLanding-editNewsCardForm"
    [isAdminMod]="isAdminMod"
    [adminMail]="adminMail"
    [newsCard]="newsCard"
    [isCreateMod]="isCreateMod"
    (isEditNewsCardFormOpen)="onCloseEditNewsCardForm($event)"
  ></app-feat-edit-news-card-form>
</div>
