<div>
      <nav
        [ngClass]="{'galleryMenuVisible': isGalleryMenuAnimationWhenOpen}"
        class="menu" 
        id="galerie-menu"
        >
            <ul>
              <li 
              *ngFor="let menuItem of galleryMenuItemList; let i = index"
              >
              <a 
              [ngClass]="{'selected': selectedIndex === i}" 
              (click)="onGalleryMenuItemClick(menuItem, i)"
              (mouseenter)="onShowThematicDropdownMenu()"
                  >
                    {{ menuItem.label }}

                  </a>
                </li>
                <app-ui-thematic-dropdown-menu
                  *ngIf="isThematicDropdownMenuOpen"
                  id="thematic-DropdownMenu"
                  >
                </app-ui-thematic-dropdown-menu>
              </ul>
            </nav>
            
          </div>