<form>
  <app-ui-close-icon
    id="close-icon"
    (isCloseButtonActivated)="onCloseComponent($event)"
  ></app-ui-close-icon>
  <h2 id="form-title">Ajouter vos plus belles photos !</h2>
  <main id="main-content">
    <section id="section-ngxDrop">
      <ngx-dropzone
        id="ngx-dropzone"
        [accept]="'image/*'"
        (change)="onHandlePhotoUpload($event)"
        (ngModelChange)="onCheckInputCompleted()"
      >
        <ngx-dropzone-label id="ngx-dropzone-label">
          <div title="Cliquer ici">
            <div
              title="Téléverser la photo désirée en cliquant ici."
              id="dropzone-title"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50px"
                height="50px"
                viewBox="0 -960 960 960"
                fill="#495057"
              >
                <path
                  d="M260-160q-91 0-155.5-63T40-377q0-78 47-139t123-78q25-92 100-149t170-57q117 0 198.5 81.5T760-520q69 8 114.5 59.5T920-340q0 75-52.5 127.5T740-160H520q-33 0-56.5-23.5T440-240v-206l-64 62-56-56 160-160 160 160-56 56-64-62v206h220q42 0 71-29t29-71q0-42-29-71t-71-29h-60v-80q0-83-58.5-141.5T480-720q-83 0-141.5 58.5T280-520h-20q-58 0-99 41t-41 99q0 58 41 99t99 41h100v80H260Zm220-280Z"
                />
              </svg>
            </div>
          </div>
        </ngx-dropzone-label>

        <ngx-dropzone-image-preview
          id="img-preview"
          ngProjectAs="ngx-dropzone-preview"
          *ngFor="let photo of photosList"
          [file]="photo"
          [removable]="true"
          (removed)="onRemovePhotoOfPhotoList(photo)"
        >
        </ngx-dropzone-image-preview>
      </ngx-dropzone>
    </section>

    <section id="right-container">
      <select
        name="choose"
        id="choose-select"
        class="input"
        [(ngModel)]="categoryOfPictureCard"
        #selectInput="ngModel"
        (ngModelChange)="onCheckInputCompleted()"
        required
      >
        <option
          class="option"
          value=""
          disabled
          selected
          hidden
          class="select-your-choise"
        >
          Dans quelle catégorie souhaitez-vous ajouter votre image?
        </option>
        <option class="option" value="special-events">
          Événements spéciaux
        </option>
        <option class="option" value="competition">Concours</option>
        <option class="option" value="spacecraft">Engins spatiaux</option>
        <option class="option" value="author">Auteur</option>
      </select>
      <div *ngIf="selectInput.invalid && selectInput.touched" class="error">
        <div *ngIf="selectInput.errors?.['required']">
          La catégorie est requise.
        </div>
      </div>

      <input
        type="text"
        name="title"
        id="title-input"
        class="input"
        maxlength="150"
        minlength="5"
        placeholder="Description courte de l'image*"
        required
        [(ngModel)]="cardTitle"
        #titleInput="ngModel"
        (ngModelChange)="onCheckInputCompleted()"
      />
      <div *ngIf="titleInput.invalid && titleInput.touched" class="error">
        <div *ngIf="titleInput.errors?.['required']">
          La description est requise.
        </div>
        <div *ngIf="titleInput.errors?.['minlength']">
          La description doit comporter au moins 5 caractères.
        </div>
        <div *ngIf="titleInput.errors?.['maxlength']">
          La description ne peut pas dépasser 150 caractères.
        </div>
      </div>

      <textarea
        type="text"
        name="resume"
        id="resume-textarea"
        class="input"
        maxlength="1000"
        minlength="5"
        placeholder="Ecrire une description de l'image ici"
        [(ngModel)]="cardResume"
        #resumeInput="ngModel"
        (ngModelChange)="onCheckInputCompleted()"
        required
      ></textarea>
      <div *ngIf="resumeInput.invalid && resumeInput.touched" class="error">
        <div *ngIf="resumeInput.errors?.['minlength']">
          La description de l'image doit comporter au moins 5 caractères.
        </div>
        <div *ngIf="resumeInput.errors?.['maxlength']">
          La description de l'image ne peut pas dépasser 1000 caractères.
        </div>
      </div>
    </section>
  </main>
  <app-ui-button
    id="submit-button"
    buttonName="Envoyer"
    (isButtonClicked)="onSubmit($event)"
    [isButtonEnabled]="isSubmitButtonEnabled"
  ></app-ui-button>
</form>

<app-feat-loader-popup
  class="loader"
  *ngIf="isLoadingComposantActive"
></app-feat-loader-popup>

<app-feat-feedback-messages-popup
  *ngIf="
    isPictureSpecialEventCardCreatedSuccess ||
    isPictureSpecialEventCardCreatedError ||
    isPictureAuthorCardCreatedSuccess ||
    isPictureAuthorCardCreatedError
  "
  [isPictureSpecialEventCardCreatedSuccess]="
    isPictureSpecialEventCardCreatedSuccess
  "
  [isPictureSpecialEventCardCreatedError]="
    isPictureSpecialEventCardCreatedError
  "
  [isPictureAuthorCardCreatedSuccess]="isPictureAuthorCardCreatedSuccess"
  [isPictureAuthorCardCreatedError]="isPictureAuthorCardCreatedError"
></app-feat-feedback-messages-popup>
