#socials-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
}

#img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 40px;
    height: 40px;
}

img:hover {
    cursor: pointer;
    transition: transform 0.3s ease;
    transform: translateY(-10px);
}

.isSocialsContainerAboutMod {
    width: 400px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.isImgContainerAboutMod {
    width: 400px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.isImgAboutMod {
    width: 40px;
    height: 40px;
    padding: 4px;
    border: 4px solid rgb(31, 31, 31);
    border-radius: 15px;
}
