h3 {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
  color: #fff;
  background: #04091e;
  font-style: italic;
  padding-left: 50px;
}

#contact-list {
  width: 100%;
  height: auto;
}
