<div id="full-page">
  <header id="headerTop">
    <app-ui-burger-menu-button
      id="headerTop-burgerMenu"
      (isLeftMenuOpen)="onOpenLeftMenu($event)"
      (isLeftMenuAnimationWhenOpen)="startMenuAnimation($event)"
      (isLeftMenuItemsClickEnable)="leftMenuItemsClickEnable($event)"
    >
    </app-ui-burger-menu-button>

    <app-ui-gallery-navbar id="headerTop-galleryNavbar">
    </app-ui-gallery-navbar>
  </header>

  <div id="carousel-container">
    <app-ui-carousel-nav
      [isPictureOfWeekPageOpen]="isPictureOfWeekPageOpen"
      [pictureOfWeekCardList]="pictureOfWeekCardList"
    >
    </app-ui-carousel-nav>
  </div>
</div>

<app-ui-navbar
  *ngIf="isLeftMenuOpen"
  [isLeftMenuAnimationWhenOpen]="isLeftMenuAnimationWhenOpen"
  [isLeftMenuItemsClickEnable]="isLeftMenuItemsClickEnable"
  (isLeftMenuOpen)="onCloseLeftMenu($event)"
>
</app-ui-navbar>

<app-feat-login-or-register-popup
  *ngIf="isLoginOrRegisterPopupOpen"
></app-feat-login-or-register-popup>
