<div id="main-container">
    <div id="title-container">
        <h1>Ajouter un point de vu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi non perspiciatis, neque voluptatum iure unde, vel placeat rem corporis esse sint quidem accusantium minima optio eveniet soluta dolores deleniti. Voluptates!</p>
    </div>
    <form>
        <label for="long-label">Nom du lieu*</label>
        <input type="number" id="long-input" name="long-input">

        <label for="long-label">Longitude*</label>
        <input type="number" id="long-input" name="long-input">

        <label for="lat-label">Longitude*</label>
        <input type="number" id="lat-input" name="lat-input">
        
        <button type="submit">Envoyer</button>
    </form>
</div>