<div class="full-container">
  <div class="popup">
    <div
      *ngIf="
        isNewsCardCreatedSuccess ||
        isNewsCardUpdatedSuccess ||
        isLocationCreatedSuccess ||
        isContactTextCreatedSuccess ||
        isPictureAuthorCardCreatedSuccess ||
        isPictureSpecialEventCardCreatedSuccess ||
        isCommentCreatedSuccess ||
        isContactCardDeleteSuccess ||
        isReplyCreatedSuccess
      "
      class="succes"
    >
      <ng-container>
        <app-ui-feed-success-icon></app-ui-feed-success-icon>
        <p class="success-element">{{ feedback.message }}</p>
      </ng-container>
    </div>

    <div
      *ngIf="
        isNewsCardCreatedError ||
        isNewsCardUpdatedError ||
        isLocationCreatedError ||
        isContactTextCreatedError ||
        isPictureAuthorCardCreatedError ||
        isPictureSpecialEventCardCreatedError ||
        isCommentCreatedError ||
        isUserNotConnectedError ||
        isContactCardDeleteError ||
        isReplyCreatedError
      "
      class="error"
    >
      <ng-container>
        <app-ui-feed-error-icon></app-ui-feed-error-icon>
        <p class="error-element">{{ feedback.message }}</p>
      </ng-container>
    </div>
  </div>
</div>
