#full-page {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#headerTop {
  width: 100%;
  height: auto;
  min-height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
}

main {
  width: inherit;
  min-height: 100vh;
  height: auto;
}
