<div id="full-page">
  <header id="headerLanding">
    <app-ui-burger-menu-button
      id="headerTop-burgerMenu"
      (isLeftMenuOpen)="onOpenLeftMenu($event)"
      (isLeftMenuAnimationWhenOpen)="startMenuAnimation($event)"
      (isLeftMenuItemsClickEnable)="leftMenuItemsClickEnable($event)"
    >
    </app-ui-burger-menu-button>

    <app-ui-button
      (click)="onLogout()"
      type="button"
      buttonName="Déconnexion"
      [isButtonEnabled]="true"
      >Deconnexion</app-ui-button
    >
  </header>
  <main>
    <app-feat-user-landing-page
      *ngIf="role === 'ROLE_USER'"
    ></app-feat-user-landing-page>

    <app-feat-admin-landing-page
      *ngIf="role === 'ROLE_ADMIN'"
      [role]="role"
      [userMail]="userMail"
    ></app-feat-admin-landing-page>
  </main>
</div>

<app-ui-navbar
  *ngIf="isLeftMenuOpen"
  [isLeftMenuAnimationWhenOpen]="isLeftMenuAnimationWhenOpen"
  [isLeftMenuItemsClickEnable]="isLeftMenuItemsClickEnable"
  (isLeftMenuOpen)="onCloseLeftMenu($event)"
>
</app-ui-navbar>
